<html>

<head>
    <title>RLIsCool</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>

<body>
    
<div id="mainpanel">
    <h1>Rocket League Is Cool</h1>
    <p>Rocket League is a game in which the player takes control of a rocket powered car, and plays soccer. It is developed by Psyonix.</p>
    <a href='/famous'>There are several gamemodes.</a>
</div>

    <%- include('navbar.ejs') %>
</body>
</html> 